* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #4d4d4d;
    color: rgba(255, 255, 255, 0.212);
    padding: 20px;
  }
  
  header h2 {
    margin: 0;
    font-size: 32px;
    color: #555;
    margin-left: 120px;
  }
  
  section {
    margin: 20px;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  select,
  input[type="text"],
  button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    color: #555;
  }
  
  input[type="text"]:read-only {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  button {
    background-color: #4d4d4d;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #333;
  }
  
  header + section {
    margin-top: 50px;
  }
  
  hr {
    margin: 20px;
  }
  
  h3 {
    margin: 20px;
    color: #ddd;
  }
  
  p#total {
    font-size: 24px;
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  footer h6 {
    margin: 0;
    color: #555;
  }
  
  @media (min-width: 768px) {
    div {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  
    select,
    input[type="text"],
    button {
      margin-right: 10px;
      margin-bottom: 0;
      max-width: 200px;
    }
  }
  
  @media (min-width: 992px) {
    div {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  